// bower:scss
@import "bower_components/reset-css/_reset.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
// font-family: 'Quattrocento', serif;
// font-family: 'Oswald', sans-serif;

body {
  line-height: 1.7em;
  background-color: white;
  color: #7f8c8d;
  font-size: 14px;
  font-family: 'Quattrocento', serif;
  font-weight: 400;
}

img.img-responsive {
  width: 100%;
  height: auto;
}

p {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
}

.first-section {
  height: 90vh;
  background: #666;

  display: flex;
  align-items: center;
  justify-content: center;

  .hero-content {
    font-family: 'Oswald', serif;
    text-transform: uppercase;
    flex: none;
    max-width: 80%;
    text-align: center;

    .title {
      font: 700 30px/100% 'Oswald' !important;
      margin-bottom: 40px;
      color: white;
      text-shadow: 0px 1px 1px #000,0px 1px 1px #000;

      // TABLETS (AND UP)
      @media (min-width: 48em) {
        font-size: 50px !important;
      }
    }

    .subtitle {
      font: 400 18px/150% 'Quattrocento';
      color: white;
      text-shadow: 0px 1px 1px #000,0px 1px 1px #000;
    }
  }
}
