// bower:scss
@import "bower_components/reset-css/_reset.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
// font-family: 'Quattrocento', serif;
// font-family: 'Oswald', sans-serif;

body {
  line-height: 1.7em;
  background-color: white;
  color: #7f8c8d;
  font-size: 14px;
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  -webkit-font-smoothing:antialiased;
}

img.img-responsive {
  width: 100%;
  height: auto;
}

p {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
}

header.header {
  &.is-fixed {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  width: 100%;
  margin: 1vh auto;
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mbYTP_wrapper {
  // filter: blur(5px);
  // background: url(gif-bg.gif) rgba(1, 1, 1, 0.1) no-repeat;
  // -webkit-filter: blur(10px);
}

.content {
  .title {
    font: 700 30px/100% 'Oswald' !important;
    margin-bottom: 40px;
    color: white;
    text-shadow: 0px 1px 1px #000,0px 1px 1px #000;

    // TABLETS (AND UP)
    @media (min-width: 48em) {
      font-size: 50px !important;
    }
  }
}

.first-section {
  min-height: 90vh;
  background: #666;

  .content {
    font-family: 'Oswald', serif;
    text-transform: uppercase;
    flex: none;
    max-width: 80%;
    text-align: center;

    .subtitle {
      font: 400 18px/150% 'Quattrocento';
      color: white;
      text-shadow: 0px 1px 1px #000,0px 1px 1px #000;
    }
  }
}

.about-section {
  min-height: 80vh;
  background: #111;
  color: white;

  .content {
    flex: none;
    max-width: 80%;
    text-align: left;

    text-transform: uppercase;

    p {
      text-align: justify;
      font: 18px/200% 'Quattrocento';
      letter-spacing: 0px;
    }
  }
}

.clients-section {
  min-height: 60vh;

  .content {
    flex: none;
    width: 80%;

    .title {
      color: black;
      text-shadow: 0px 1px 1px #000,0px 1px 1px #000;
      text-transform: uppercase;
    }

    .clients-list {
      div {
        text-align: center;
      }

      img { max-width: 140px; }
    }
  }
}

.contact-section {
  min-height: 40vh;
  background-color: #111;

  .content {
    flex: none;
    width: 80%;

    .title {
      text-shadow: 0px 1px 1px #000,0px 1px 1px #000;
      text-transform: uppercase;
    }

    .contact-list > li {
      font-weight: 700;
      list-style: none;
      padding: 0;
      margin: 10px 0;

      > a {
        text-decoration: none;
        border-bottom: 1px solid #7f8c8d;
        color: #7f8c8d;
        font-family: 'Quattrocento', sans-serif;

        &:hover {
          color: #333;
          border-bottom: 1px solid #111;
        }
      }
    }
  }
}
